.swatch {
    border-radius: 50px;
}
.face-selection-inner .heading {
    display: block;
    font-size: 12px !important;
}
label.single-option-radio__label sup {
    display: block;
}
.product-form__item textarea {
    width: 100%;
    border: 1px solid #ddd;
}
a.help-icon svg {
    max-height: 15px;
    fill: #515151;
}
.uploadcare--widget {
    display: block;
    float: left;
    width: 50%;
    padding: 5px;
    border: 1px solid #dfdfdf;
    outline: none;
    background: #d9d7d8;
    color: #5f6a7d;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.uploadcare--widget__button {
    background: #202020 !important;
    border-radius: 0 !important;
}
  
.image-preview-multiple ._item {
    padding: 0 0 10px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 80px;
    word-break: break-word;
    font-size: 12px;
    line-height: normal;
    text-transform: capitalize;
}
.image-preview-multiple ._item img {
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
}
